# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.qmake.stash
*.qtc_clangd
*.moc
Makefile
*.Debug
*.Release
*.ui_
*.moc_
YtFrameLessWidget/TestWidget/release/moc_maindlg.cpp
YtFrameLessWidget/TestWidget/release/moc_predefs.h
YtFrameLessWidget/TestWidget/release/moc_testdialog.cpp
YtFrameLessWidget/TestWidget/release/moc_testshowform.cpp
YtFrameLessWidget/TestWidget/ui_maindlg.h
YtFrameLessWidget/TestWidget/ui_testdialog.h
YtFrameLessWidget/TestWidget/ui_testshowform.h
